<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= gym.title %></title>
</head>
<body>
    <h1><%= gym.title %></h1>
    <h2><%= gym.location %></h2>
    <h2><%= gym.price %></h2>

    <footer>
        <a href="/gyms">All Gyms</a>
        <a href="/gyms/<%= gym.id %>/edit">Edit Gym</a>
        <form action="/gyms/<%= gym.id %>?_method=DELETE" method="post">
            <button>Delete Gym</button>
        </form>
    </footer>
    
</body>
</html>